:root{
    --highlight-color: #95818D;
    --hero-color: #782bc5;
}
button#loginBtn:hover{
    /* background-color: #782bc5; */
    color: black;
    transition: 1.75s 50ms ease-in-out;
    background: linear-gradient(to top, #b23ee4,#d199e9,  #e2cbf8);
}
nav ul li:hover{
    color: #62117d;
    text-decoration: underline;
    text-decoration-color: #95818D;
    text-decoration-thickness: 1px;
}